@import 'tailwindcss';


.image {
  @apply relative w-full h-screen flex justify-center items-center;
}

.heading {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  text-5xl font-bold border-gray-700 border-2 p-4 rounded-md shadow-lg bg-blue-300 text-gray-700 -mt-20;
  @apply active:opacity-25; 
}

.subtitle {
  @apply mt-1 text-lg font-normal flex justify-center items-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-1 px-2.5 bg-blue-300;
}

.title {
  @apply text-3xl font-bold text-center mt-35 mb-10 flex justify-center items-center py-2.5;
}

.activities-con {
  @apply flex flex-1 justify-center items-center gap-10 px-2.5 py-2.5 mb-2.5
}

.activity-card {
  @apply flex flex-col justify-center items-center flex-wrap
}

.activity-img {
  @apply w-50 px-2 py-2 rounded-full;
}

.activity-title {
  @apply text-xl font-semibold text-center;
}

.activity-des {
  @apply text-center w-100 flex-wrap text-sm;
}

.guide-con {
  @apply flex justify-center items-center py-10 my-20 gap-2.5 bg-blue-300 backdrop-blur-2xl shadow-lg;
}

.guide-text-con {
  @apply flex flex-col justify-center items-center flex-wrap px-2.5;
}

.guide-img {
  @apply w-55;
}

.guide-title {
  @apply font-semibold text-lg;
}

.guide-des {
  @apply w-75 text-sm mt-7;
}

.guide-name {
  @apply font-semibold mt-2.5;
}