@import 'tailwindcss';

.heading {
  @apply text-3xl text-center text-red-500 p-20 hover:text-violet-500 transition duration-500 ease-in-out;
}

.image {
  @apply relative w-full h-screen flex justify-center items-center;
}