@import 'tailwindcss';


.image {
  @apply relative w-full h-screen flex justify-center items-center;
}

.heading {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2  text-5xl font-bold border-gray-700 border-2 p-4 rounded-md shadow-lg bg-blue-300 text-gray-700 -mt-20;
  @apply active:opacity-25; 
}

.subtitle {
  @apply mt-1 text-lg font-normal flex justify-center items-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-1 px-2.5 bg-blue-300;
}
